@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  --nav-font: 600 16px/1 "Quicksand", sans-serif;
  --nav-color: #343434;
  --btn-font: 500 16px/1 "DMSans", sans-serif;
  --header-font: 700 48px/1 "Urbanist", sans-serif;
}

/*style header*/
.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background: #FAF5E4;
  /*position: sticky;
  top: 0;
  z-index: 1000;*/
}

.header__logo {
  padding-left: 10.4%;
  height: 20.48px;
}

.menu-list {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.menu__link {
  font: var(--nav-font);
  color: var(--nav-color);
}

.buttons {
  display: flex;
  gap: 0.69vw;
  padding-right: 11.52%;
}

.header__login-btn {
  max-width: 111.03px;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.header__sign-up-btn {
  max-width: 124.36px;
  width: 100%;
  padding: 1rem 2rem;
  background: #125B50;
  color: #FAF5E4;
  border-radius: 5px;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

/*Representation*/
.representation {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 148px 0 180px;
  gap: 4.72%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 182, 193, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
}

.representation-container {
  padding-left: 9.1%;
  max-width: 725px;
  flex-direction: column;
  width: 100%;
}

h1 {
  font: var(--header-font);
  margin-bottom: 12px;
}

.representation-text {
  font: 500 20px/1 "Quicksand", sans-serif;
  margin-bottom: 70px;
}

.start-btn {
  width: 100%;
  padding: 1.39rem 2.43rem;
  background: #125B50;
  font: 600 20px/1 "Quicksand", sans-serif;
  color: #FAF5E4;
  border-radius: 5px;
}

.girl-img {
  padding-right: 6.38%;
  max-width: 647px;
  width: 38%;
  height: 22.7%;
}

/* Banner */
.representation__banner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 9vw;
  width: 100%;
  overflow: hidden;
  background: white;
  justify-content: center;
  padding-top: 89px;
}

.banner-img {
  padding-right: 9.8vw;
}


/*Main*/

/* All-in-one section */
.all-in-one {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-in-one__header {
  font: 700 40px/1 "Urbanist", sans-serif;
  color: #343434;
  text-align: center;
  padding-bottom: 62px;
}

/* All-in-one section grid-container*/
.all-in-one__grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 1.38%;
  width: 79.23%;
}

.all-in-one__grid-container__item {
  padding: 41px 3.05% 61px;
  border-radius: 10px;
  border: 1.5px solid #EEEEEE;

}

.grid-container__img {
  margin-bottom: 20px;
}

.grid-container__item__header {
  margin-bottom: 23px;
}

/* Section choose us */
.choose-us {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 161px 0;
  display: flex;
  align-items: center;
}

.choose-us__container {
  max-width: 714px;
  width: 100%;
  padding-left: 8%;
}

.choose-us__question {
  margin-bottom: 10px;
}

.choose-us__header {
  margin-bottom: 14px;
}

.choose-us__text {
  margin-bottom: 34px;
}

.choose-us__reasons__item {
  max-width: 473px;
  margin-bottom: 23px;
  width: 100%;
  padding-left: 10.347%;
  padding-right: 8.125%;
}

#gear-item {
  position: relative;
}

#gear-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/gear.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 48px;
}

#team-item {
  position: relative;
}

#team-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/group.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 45px;
}

#support-item {
  position: relative;
}

#support-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/support.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 48px;
}

.choose-us__reasons__item__header {
  margin-bottom: 20px;
}

.office-img {
  max-width: 494px;
  width: 34.305vw;
  max-height: 550px;

}

.o-m {
  padding-right: 8.27%;
  padding-left: 7.77%;
  max-height: 550px;
  position: relative;
  max-width: 725.91px;
}

/*.o-m::before {
  content: "";
  position: absolute;
  right: 22%;
  bottom: -9%;
  background-image: url(../img/rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 29.184vw;
  max-width: 420.26px;
  height: 42.374vw;
  max-height: 610.19px;
  z-index: -1;
}*/






/* adavnce-feature section */
.adavnce-feature {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #125B50;
  padding-bottom: 68px;
  margin-bottom: 49px;
}

.adavnce-feature__header {
  font: 700 40px/1 "Urbanist", sans-serif;
  color: #343434;
  text-align: center;
  padding: 62px 0;
}

/* adavnce-feature section grid-container*/
.adavnce-feature__grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 1.38%;
  width: 79.23%;
  max-width: 1141px;
  justify-items: center;
}

.adavnce-feature__grid-container__item {
  padding: 41px 40px 61px;
  border-radius: 10px;
  border: 1.5px solid #EEEEEE;
  background-color: #FAF5E4;
  display: grid;
  place-items: center;
  max-width: 367px;
}

.adavnce-feature__grid-container__img {
  margin-bottom: 20px;
}

.adavnce-feature__grid-container__item__header {
  margin-bottom: 23px;
}

.adavnce-feature__grid-container__item__text {
  text-align: center;
}

/* Section Keep monitoring*/
.keep-monitoring {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/keep-monitoring.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 48.92px;
}

.keep-monitoring__container {
  padding: 327px 31.458% 211px 40.27%;
}

.keep-monitoring__header {
  margin-bottom: 32px;
}

.keep-monitoring__text {
  margin-bottom: 35px;
}

.keep-monitoring__btn {
  padding: 20px 35px;
  background-color: #125B50;
  max-width: 191px;
  color: #FAF5E4;
}

.keep-monitoring__balls-1 {
  position: absolute;
  right: 0%;
  top: 12.125%;
  background-position: center;
  max-width: 240px;
  max-height: 218px;
}

.keep-monitoring__balls-2 {
  position: absolute;
  left: 7%;
  bottom: 0.125%;
  background-position: center;
  max-width: 240px;
  max-height: 218px;
}

/* Section statistics*/
.statistics {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.statistics__container {
  margin: 0 auto;
  max-width: 1141.23px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 1.38%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 150px;
  padding: 0 20px;
}

.statistics__item {
  background-color: #125B50;
  color: #FAF5E4;
  text-align: center;
  max-width: 367px;
  width: 100%;
  border-radius: 10px;
}

.statistics__item__header {
  padding-top: 30px;
  margin-bottom: 18px;
}

.statistics__item__text {
  padding-bottom: 32.08px;
}


/*SECTION INFORM CUSTOMERS*/
.inform-customers {
  margin: 0 auto 150px;
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 82.361%)/2);
}

.inform-customers__contanier {
  margin: 0 auto;
  display: flex;
  gap: 7.15%;
  max-width: 1186px;
  width: 100%;
}

.inform-customers__text-contanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 495px;
  width: 100%;
}

.inform-customers__header {
  margin-bottom: 39px;
  max-width: 477px;
  width: 100%;
}

.inform-customers__text {
  margin-bottom: 63px;
  max-width: 353px;
  width: 100%;
}


.inform-customers__btns {
  display: flex;
  gap: 2.5%;
}

.inform-customers__start-btn {
  padding: 20px 35px;
  background: #125B50;
}

.inform-customers__sign-btn {
  padding: 20px 35px;
  border: solid 1px #125B50;
}

.inform-customers__img {
  width: 47.04%;
  max-width: 558px;
}

/*SECTION CHECK*/
.check {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background: #125B50;
  padding-bottom: 130px;
}

.check__header {
  color: #FAF5E4;
  padding-top: 88px;
  text-align: center;
  margin-bottom: 20px;
}

.check__text {
  color: #FAF5E4;
  padding-bottom: 75px;
  text-align: center;
}

.comment {
  background: #FAF5E4;
  max-width: 607px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.comment__client {
  display: flex;
  gap: 2.8%;
  padding: 36px 8.566% 0;
}

.client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-photo {
  max-width: 54px;
  width: 100%;
}

.comment__text {

  max-width: 607px;
  width: 100%;
  padding: 32px 16.47% 63px 8.566%;
}

.comment__info {
  display: flex;
  align-items: center;
  padding-bottom: 51px;
  gap: 39.37%;
}

.comment__date {
  padding-left: 8.566%;
}

.comment__rate {
  display: flex;
  flex-wrap: wrap;
  gap: 0.823%;
  max-width: 160px;
  width: 100%;
}

.comment__rate__item {
  max-width: 28px;
  width: 100%;
}

/* SECTION PRICING */
.pricing {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.pricing__header {
  text-align: center;
  margin-bottom: 24px;
}

.toggle {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 104.92px;
}

.toggle div {
  flex: 1;
  padding: 16px 34.5px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle .active {
  background-color: #005f5f;
  color: white;
}

.toggle .inactive {
  background-color: white;
  color: black;
}

.pricing__container {
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 80%)/2);
}

.pricing__cards {
  max-width: 1141px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.cards__item {
  max-width: 367px;
  width: 32.16%;
}

/*SECTION QUESTIONS*/
.questions {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 150px;
}

.questions__header {
  text-align: center;
  padding-bottom: 105px;
}



/*ПЕРЕСМОТРЕТЬ КАРТОЧКИ*/
details {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  transition: background-color 0.3s;
}

.questions__item__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.questions__item__question:hover {
  background-color: #f1f1f1;
}

.questions__item__question .question__item__img {
  transition: transform 0.3s;
}

details[open] .questions__item__question .question__item__img {
  transform: rotate(180deg);
}

.answer {
  padding: 10px;
}


/*SECTION FREE*/
.free {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.free__container {}

.free__header {}




/* Mobile device*/
@media (max-width:950px) {

  /* Header */
  .header {
    padding: 0;
    position: static;
  }

  .menu-btn {
    display: block;
  }

  .header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .header {
    flex-direction: column;
  }

  .menu-list {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background: rgb(78, 126, 92);
    height: 100vh;
    width: 90vw;
    align-items: center;
    margin-top: -9000px;
    transition: all 0.8s ease;

  }

  .nav-btn {
    padding: 12px 30px;
  }

  .mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }

  /*section representation*/
  .representation {
    flex-direction: column;
    align-items: center;
    gap: 9vw;
  }

  .representation-container {
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  /*section all in one*/
  .all-in-one__grid-container {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    justify-items: center;
  }

  .grid-container__img {
    width: 40px;
  }

  /*choose-us section*/
  .choose-us {
    flex-direction: column;
    align-items: center;
  }

  /*section adavnce-feature*/
  .adavnce-feature__grid-container {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    justify-items: center;
  }

  .adavnce-feature__grid-container__img {
    width: 40px;
  }

  .adavnce-feature__grid-container__item {
    padding: 41px 4.5% 61px;
  }

  /*section keep monitoring*/
  .keep-monitoring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keep-monitoring__container {
    padding: 327px 0 211px;
    width: 60%;
  }

  .keep-monitoring__balls-1 {
    max-width: 200px;
  }

  .keep-monitoring__balls-2 {
    max-width: 200px;
    bottom: 0;
  }

  .statistics__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 0 30px;
  }

  .statistics__item {
    max-width: 680px;
    width: 100%;
  }

  .inform-customers__contanier {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inform-customers__text-contanier {
    align-items: center;
    justify-content: center;
  }

  .inform-customers__header {
    text-align: center;
  }

  .inform-customers__text {
    text-align: center;
  }

  .inform-customers__btns {
    align-items: center;
    justify-content: center;
  }

  .inform-customers-btn {
    padding: 3.5% 4.8%;
  }

}





@media (max-width:650px) {
  .all-in-one__grid-container {
    grid-template-columns: repeat(1, minmax(260px, 1fr));
  }

  .adavnce-feature__grid-container {
    grid-template-columns: repeat(1, minmax(260px, 1fr));
  }

  .keep-monitoring__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .keep-monitoring__text {
    text-align: center;
  }

  .keep-monitoring__header {
    text-align: center;
  }

  .keep-monitoring__balls-1 {
    max-width: 150px;
    top: 19.125%;
  }
}