* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

li {
  list-style: none;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(237, 187, 234, 0.867);
  height: 100vh;
}

.card-list .card-item {}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 0.5);
  transition: all .3 ease;
}

.card-list .card-item .card-link:hover {
  border-color: blue;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: blue;
  padding: 8px 16px;
  font-size: 0.95rem;
  margin: 16px 0 18px;
  background: rgb(146, 146, 217);
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: black;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 30px 0 5px;
  border: 2px solid blue;
  color: blue;
  background: none;
}