@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-SemiLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0F213A;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/*Header */
.header {
  max-width: 1800px;
  width: 100%;
  display: flex;
  margin: 0 auto 99px;
  padding: 0 11.67%;
}

.catalogue {
  max-width: 991px;
  width: 100%;
  padding-right: 5.14%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 24px;
  margin-bottom: 32px;
  font: 300 14px/1 "Stem", sans-serif;
  color: #0F213A;
  line-height: 24px;
}

.grey {
  color: #666666;
}

.slash {
  color: #666666;
}

h1 {
  margin-bottom: 12px;
  font: 300 35px/1 "Stem", sans-serif;
  color: #0F213A;
  letter-spacing: 1px;
  line-height: 42px;
}

.header__text {
  font: 300 16px/1 "Stem", sans-serif;
  color: #0F213A;
  line-height: 26px;
}

.filter {
  max-width: 389px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16.96%;
  font: 500 16px/1 "Stem", sans-serif;
  color: #0F213A;
  line-height: 24px;
  padding-top: 187px;
  padding-bottom: 56px;
  margin-top: auto;
}

/*Section products */
.products {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto 99px;
}