@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

li {
  list-style: none;
}

:root {
  --quicksand-semibold-font: 600 16px/1 "Quicksand", sans-serif;
  --default-line-height: 1;
  --font-color: #343434;
  --default-font-size: 16px;
  --btn-border: solid 1px #125B50;
  --btn-border-radius: 5px;
  --dmsans-font: 500 16px/1 "DMSans", sans-serif;
  --gr-color: #125B50;
  --yellow-color: #FAF5E4;
  --quicksand-medium: 500 20px/1 "Quicksand", sans-serif;
  --text: 500 16px/1 "Quicksand", sans-serif;
  --h2-font: 700 40px/1 "Urbanist", sans-serif;
  --h5-font: 600 24px/1 "Urbanist", sans-serif;
}

button {
  cursor: pointer;
}

body {
  line-height: var(--default-line-height);
  color: var(--font-color);
}

p {
  font: var(--text);
  line-height: 140%;
  letter-spacing: 1.5%;
}

h2 {
  font: var(--h2-font);
}

h5 {
  font: var(--h5-font);
}

/*style header*/
.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 53px 0 20px;
  background: var(--yellow-color);
  /*position: sticky;
  top: 0;
  z-index: 1000;*/
}

.header__logo {
  max-width: 90.69px;
}

.header-list {
  width: 1440px;
  width: 100%;
  padding: 0 1.94% 0 10.42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29.24%;
}

.menu-list {
  max-width: 778px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.74%;
}

.menu__link {
  font: var(--quicksand-semibold-font);
  color: var(--font-color);
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-bottom: 2px solid var(--gr-color);
}

.nav-btn {
  border-radius: var(--btn-border-radius);
  border: var(--btn-border);
  width: 100%;
  padding: 14px 35px;
  font: var(--dmsans-font);
  transition: all .5s ease;
}

.nav-btn:hover {
  padding: 16px 37px;
}

.header__login-btn {
  max-width: 111.03px;
  color: var(--gr-color);
}

.header__sign-up-btn {
  max-width: 124.36px;
  background: var(--gr-color);
  color: var(--yellow-color);
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

/*Section Representation*/
.representation {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 148px 0 149px;
  gap: 4.72%;
  background: var(--yellow-color);
  color: var(--font-color);
  position: relative;
  z-index: -2;
}

.representation::before {
  content: '';
  position: absolute;
  width: 720px;
  height: 720px;
  background: radial-gradient(circle, rgba(250, 92, 134, 0.2) 0%, rgba(209, 44, 88, 0) 80%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  z-index: -1;
}

.representation::after {
  content: '';
  position: absolute;
  width: 63.19%;
  height: 63.19%;
  background: radial-gradient(circle, rgba(18, 91, 80, 0.15) 0%, rgba(18, 91, 80, 0) 100%);
  border-top-left-radius: 6.94%;
  border-top-right-radius: 6.94%;
  filter: blur(15px);
  top: 55.97%;
  left: 68.4%;
  z-index: -1;
}

.representation-container {
  padding-left: 9.1%;
  max-width: 725px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 56px;
}

h1 {
  font: 700 48px/1 "Urbanist", sans-serif;
  margin-bottom: 12px;
}

.representation-text {
  font: var(--quicksand-medium);
  margin-bottom: 90px;
}

.start-btn {
  width: 100%;
  padding: 20px 35px;
  background: var(--gr-color);
  font: var(--quicksand-semibold-font);
  font-size: 20px;
  color: var(--yellow-color);
  border-radius: var(--btn-border-radius);
  transition: all .5s ease;
}

.start-btn:hover {
  padding: 22px 37px;
}

.content__img {
  padding: 93px 6.38% 0 0;
  max-width: 647px;
  width: 100%;
}

/* Banner */
.representation__banner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 9vw;
  width: 100%;
  overflow: hidden;
  background: white;
  justify-content: center;
  padding-top: 89px;
}

.banner-img {
  padding-right: 9.8vw;
}

/* All-in-one section */
.all-in-one {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-in-one__header {
  text-align: center;
  padding-bottom: 62px;
}

/* All-in-one section grid-container*/
.all-in-one__grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 1.38%;
  max-width: 1141px;
  width: 79.23%;
}

.all-in-one__grid-container__item {
  max-width: 367px;
  width: 100%;
  padding: 41px 11.9% 61px;
  border-radius: 10px;
  border: 1.5px solid #EEEEEE;
  transition: all .5s ease;
}

.all-in-one__grid-container__item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.grid-container__img {
  margin-bottom: 20px;
}

.grid-container__item__header {
  margin-bottom: 23px;
  color: var(--gr-color);
  letter-spacing: 1.5%;
}

/* Section choose us */
.choose-us {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 161px 0;
  display: flex;
  align-items: center;
}

.choose-us__container {
  max-width: 714px;
  width: 100%;
  padding-left: 8%;
}

.choose-us__question {
  margin-bottom: 10px;
  font: var(--h2-font);
  font-size: 20px;
  color: var(--gr-color);
}

.choose-us__header {
  margin-bottom: 14px;
}

.choose-us__text {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 151%;
  letter-spacing: 1%;
}

.choose-us__reasons__item {
  max-width: 473px;
  margin-bottom: 23px;
  width: 100%;
  padding-left: 10.347%;
  padding-right: 8.125%;
}

#gear-item {
  position: relative;
}

#gear-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/gear.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 48px;
}

#team-item {
  position: relative;
}

#team-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/group.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 45px;
}

#support-item {
  position: relative;
}

#support-item::before {
  content: "";
  position: absolute;
  right: 92%;
  top: 0%;
  background-image: url(../img/support.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.3vw;
  max-width: 49px;
  height: 3.23vw;
  max-height: 48px;
}

.choose-us__reasons__item__header {
  margin-bottom: 20px;
}

.office-img {
  max-width: 494px;
  width: 34.305vw;
  max-height: 550px;
  padding-left: 7.77%;
}

.o-m {
  padding-right: 8.27%;
  padding-left: 7.77%;
  max-height: 550px;

  max-width: 725.91px;
}

/*.o-m::before {
  content: "";
  position: absolute;
  right: 22%;
  bottom: -9%;
  background-image: url(../img/rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 29.184vw;
  max-width: 420.26px;
  height: 42.374vw;
  max-height: 610.19px;
  z-index: -1;
}*/


/* adavnce-feature section */
.adavnce-feature {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #125B50;
  padding-bottom: 68px;
  margin-bottom: 49px;
}

.adavnce-feature__header {
  font: 700 40px/1 "Urbanist", sans-serif;
  color: var(--yellow-color);
  text-align: center;
  padding: 62px 0;
}

/* adavnce-feature section grid-container*/
.adavnce-feature__grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 1.38%;
  width: 79.23%;
  max-width: 1141px;
  justify-items: center;
  text-align: center;
}

.adavnce-feature__grid-container__item {
  padding: 131px 10.9% 61px;
  border-radius: 10px;
  border: 1.5px solid #EEEEEE;
  background-color: #FAF5E4;
  display: grid;
  place-items: center;
  max-width: 367px;
  position: relative;
}

.adavnce-feature__grid-container__item:before {
  content: url(../img/arrows.svg);
  position: absolute;
  background-color: #FF6363;
  border-radius: 6px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 55px;
  top: 13.62%;
  left: 38.87%;
}

.adavnce-feature__grid-container__item:nth-child(2)::before {
  content: 'Второй элемент';
}

.adavnce-feature__grid-container__item__header {
  margin-bottom: 23px;
}

.adavnce-feature__grid-container__item__text {
  text-align: center;
}

/* Section Keep monitoring*/
.keep-monitoring {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/keep-monitoring.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 48.92px;
}

.keep-monitoring__container {
  padding: 327px 31.458% 211px 40.27%;
}

.keep-monitoring__header {
  margin-bottom: 32px;
}

.keep-monitoring__text {
  margin-bottom: 35px;
}

.keep-monitoring__btn {
  padding: 20px 35px;
  background-color: #125B50;
  max-width: 191px;
  color: #FAF5E4;
}

.keep-monitoring__balls-1 {
  position: absolute;
  right: 0%;
  top: 12.125%;
  background-position: center;
  max-width: 240px;
  max-height: 218px;
}

.keep-monitoring__balls-2 {
  position: absolute;
  left: 7%;
  bottom: 0.125%;
  background-position: center;
  max-width: 240px;
  max-height: 218px;
}

/* Section statistics*/
.statistics {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.statistics__container {
  margin: 0 auto;
  max-width: 1141.23px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 1.38%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 150px;
  padding: 0 20px;
}

.statistics__item {
  background-color: #125B50;
  color: #FAF5E4;
  text-align: center;
  max-width: 367px;
  width: 100%;
  border-radius: 10px;
}

.statistics__item__header {
  padding-top: 30px;
  margin-bottom: 18px;
}

.statistics__item__text {
  padding-bottom: 32.08px;
}


/*SECTION INFORM CUSTOMERS*/
.inform-customers {
  margin: 0 auto 150px;
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 82.361%)/2);
}

.inform-customers__contanier {
  margin: 0 auto;
  display: flex;
  gap: 7.15%;
  max-width: 1186px;
  width: 100%;
}

.inform-customers__text-contanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 495px;
  width: 100%;
}

.inform-customers__header {
  margin-bottom: 39px;
  max-width: 477px;
  width: 100%;
}

.inform-customers__text {
  margin-bottom: 63px;
  max-width: 353px;
  width: 100%;
}


.inform-customers__btns {
  display: flex;
  gap: 2.5%;
}

.inform-customers__start-btn {
  padding: 20px 35px;
  background: #125B50;
}

.inform-customers__sign-btn {
  padding: 20px 35px;
  border: solid 1px #125B50;
}

.inform-customers__img {
  width: 47.04%;
  max-width: 558px;
}

/*SECTION CHECK*/
.check {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background: #125B50;
  padding-bottom: 130px;
}

.check__header {
  color: #FAF5E4;
  padding-top: 88px;
  text-align: center;
  margin-bottom: 20px;
}

.check__text {
  color: #FAF5E4;
  padding-bottom: 75px;
  text-align: center;
}

.comment {
  background: #FAF5E4;
  max-width: 607px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.comment__client {
  display: flex;
  gap: 2.8%;
  padding: 36px 8.566% 0;
}

.client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-photo {
  max-width: 54px;
  width: 100%;
}

.comment__text {

  max-width: 607px;
  width: 100%;
  padding: 32px 16.47% 63px 8.566%;
}

.comment__info {
  display: flex;
  align-items: center;
  padding-bottom: 51px;
  gap: 39.37%;
}

.comment__date {
  padding-left: 8.566%;
}

.comment__rate {
  display: flex;
  flex-wrap: wrap;
  gap: 0.823%;
  max-width: 160px;
  width: 100%;
}

.comment__rate__item {
  max-width: 28px;
  width: 100%;
}

/* SECTION PRICING */
.pricing {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.pricing__header {
  text-align: center;
  margin-bottom: 24px;
}

.toggle {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 104.92px;
}

.toggle div {
  flex: 1;
  padding: 16px 34.5px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle .active {
  background-color: #005f5f;
  color: white;
}

.toggle .inactive {
  background-color: white;
  color: black;
}

.pricing__container {
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 80%)/2);
}

.pricing__cards {
  max-width: 1141px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.cards__item {
  max-width: 367px;
  width: 32.16%;
}

/*SECTION QUESTIONS*/
.questions {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 150px;
}

.questions__header {
  text-align: center;
  padding-bottom: 105px;
}



/*ПЕРЕСМОТРЕТЬ КАРТОЧКИ*/

details {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  transition: background-color 0.3s;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  /* Убираем обводку при фокусе */
  padding: 10px;
  position: relative;
  /* Для позиционирования псевдоэлемента */
}

summary:hover {
  background-color: #f1f1f1;
  /* Изменение фона при наведении */
}

summary::after {
  content: '';
  display: block;
  width: 16px;
  /* Ширина стрелки */
  height: 16px;
  /* Высота стрелки */
  background-image: url('../img/arrow.svg');
  /* Замените на URL вашей стрелки */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  /* Отступ от правого края */
  top: 50%;
  transform: translateY(-50%);
  /* Центрирование по вертикали */
  transition: transform 0.3s;
}

details[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
  /* Поворот стрелки при открытии */
}

.answer {
  padding: 10px;
}

/*SECTION FREE*/
.free {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.free__container {}

.free__header {}



@media (max-width: 1184px) {
  .header-list {
    gap: 9%;
  }

  .menu__link {
    font-size: 14px;
  }

  .nav-btn {
    padding: 12px 22px;
    font-size: 13px;
  }

  .nav-btn:hover {
    padding: 14px 24px;
  }

  .office-img {
    padding: 25px 30px 0;
    max-width: 600px;
    width: 100%;
  }

  /*choose-us section*/
  .choose-us {
    flex-direction: column;
    align-items: center;
  }

  .choose-us__container {
    max-width: 1000px;
  }

  .choose-us__reasons__item {
    max-width: 800px;
  }
}

/* Tablet device*/
@media (max-width:768px) {

  /* Header */
  .header {
    padding: 0;
    position: static;
  }

  .menu-btn {
    width: 40px;
    height: 40px;
    display: block;
  }

  .header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .header {
    flex-direction: column;
  }

  .menu__link {
    font-size: 16px;
  }

  .menu__link:hover {
    border-bottom-color: var(--font-color);
  }

  .header-list {
    padding: 0;
  }

  .menu-list {
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    background: rgb(78, 126, 92);
    height: 100vh;
    width: 100vw;
    align-items: center;
    margin-top: -9000px;
    transition: all 0.8s ease;
  }

  .nav-btn {
    padding: 15px 35px;
    font: var(--dmsans-font);
  }

  .header__login-btn {
    border-color: var(--yellow-color);
    color: var(--yellow-color);
  }

  .nav-btn:hover {
    padding: 17px 37px;
  }

  .mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }

  /*section representation*/
  .representation {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding-bottom: 80px;
  }

  .representation-container {
    width: 80%;
    text-align: center;
  }

  .content__img {
    padding: 10px 15% 0;
  }

  /*section all in one*/
  .all-in-one__grid-container {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    justify-items: center;
  }

  .grid-container__img {
    width: 40px;
  }

  /*section adavnce-feature*/
  .adavnce-feature__grid-container {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    justify-items: center;
  }

  .adavnce-feature__grid-container__img {
    width: 40px;
  }

  .adavnce-feature__grid-container__item {
    padding: 131px 4.5% 61px;
  }

  /*section keep monitoring*/
  .keep-monitoring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keep-monitoring__container {
    padding: 327px 0 211px;
    width: 60%;
  }

  .keep-monitoring__balls-1 {
    max-width: 200px;
  }

  .keep-monitoring__balls-2 {
    max-width: 200px;
    bottom: 0;
  }

  .statistics__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 0 30px;
  }

  .statistics__item {
    max-width: 680px;
    width: 100%;
  }

  .inform-customers__contanier {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inform-customers__text-contanier {
    align-items: center;
    justify-content: center;
  }

  .inform-customers__header {
    text-align: center;
  }

  .inform-customers__text {
    text-align: center;
  }

  .inform-customers__btns {
    align-items: center;
    justify-content: center;
  }

  .inform-customers-btn {
    padding: 3.5% 4.8%;
  }

}




/*Mobile device */
@media (max-width:480px) {

  /*Section representation*/
  .representation {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 45px;
  }

  .representation-text {
    font-size: 18px;
  }

  .start-btn {
    font-size: 16px;
    padding: 18px 33px;
  }

  .start-btn:hover {
    padding: 20px 35px;
  }

  .representation-container {
    padding: 0;
  }

  /*all-in-one section*/
  .all-in-one {
    padding-top: 80px;
  }

  .all-in-one__grid-container {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }

  /*choose us section*/
  .choose-us {
    padding: 230px 0 80px;
  }

  /*advanced-feature section*/
  .adavnce-feature {
    padding-bottom: 160px;
    margin-bottom: 0;
  }

  .adavnce-feature__header {
    padding-left: 5px;
    padding-right: 5px;
  }

  .adavnce-feature__grid-container {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }

  .keep-monitoring__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .keep-monitoring__text {
    text-align: center;
  }

  .keep-monitoring__header {
    text-align: center;
  }

  .keep-monitoring__balls-1 {
    max-width: 150px;
    top: 19.125%;
  }
}